<% layout('/layouts/boilerplate.ejs') -%>
<div class="row mt-3">
    <div class="col-8 offset-2" >
    <!-- <br><br> -->
    <h3> Create New List</h3>
    <br>
    <form method="post" action="/lists" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" id="title" name="listing[title]" placeholder="Add Title" class="form-control" required>
            <div class="invalid-feedback">Enter a title</div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">description:</label>
            <textarea type="text" id="description" name="listing[description]" class="form-control" required></textarea>
            <div class="invalid-feedback">Enter a description</div>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Upload Image:</label>
            <input type="file" id="image" name="listing[image]" class="form-control">
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">price:</label>
                <input type="text" id="price" name="listing[price]" placeholder="1200" class="form-control" required>
                <div class="invalid-feedback">Enter a valid price</div>
            </div>

            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">country:</label>
                <input type="text" id="country" name="listing[country]" placeholder="India" class="form-control" required>
                <div class="invalid-feedback">Enter valid county</div>

            </div>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">location:</label>
            <input type="text" id="location" name="listing[location]" placeholder="Jaipur, Mandi" class="form-control" required>
            <div class="invalid-feedback">Enter valid location</div>
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text">Category</label>
            <select class="form-select"  name="listing[category]" required>
                <option value="" disabled selected>Choose Category</option>
                <option value="Trending">Trending</option>
                <option value="Rooms">Rooms</option>
                <option value="Iconic-Cities">Iconic-Cities</option>
                <option value="Mountains">Mountains</option>
                <option value="Castles">Castles</option>
                <option value="AmazingPools">AmazingPools</option>
                <option value="Camping">Camping</option>
                <option value="Farms">Farms</option>
                <option value="Arctic">Arctic</option>
                <option value="Restaurants">Restaurants</option>
            </select>
            <div class="invalid-feedback">Select one category</div>
        </div>

        <br>
        <div class="mb-3 mt-3">
            <button class="btn btn-dark add-btn" type="submit">ADD</button>
        </div>
        <br><br>
    </form>
    </div>
</div>
